.dash-card{
	height: calc(100% - 49px);
}
.md-content-pad-top{
    padding-top: 10px;
}

.catogory-block{
		margin-bottom: 10px;
}

.block-full{
	font-size: 92px;
	text-align: center;
	display: inline-block;
	color: #fff;
	background: #d4d4d4;
	width: 100%;
	height: 100%;
}
