.side-nav-container.show-full{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
}

.training-nav.navbar-light .nav-item.active .nav-link{
		color: #009200;
}
.nav-link{

}
/deep/ .mat-tab-links{
	width: 100%;
}
.training-nav.navbar-light .navbar-nav .nav-link{
	color: #191717;
}
